
@import "../utils.scss";

.explorer {
    text-align: center;
    background-color: $lightgrey;
    padding: 50px;
    font-size: 1.1rem;
    & h2, p {
    @media (max-width: 768px) {
        max-width: 310px;
        margin: auto;
        padding-bottom: 0.5rem;
        }  
    }   
    & p {
        opacity: 0.7;
    }
    & button {
        @include button-base;
        @include button-shadow;
        margin-top: 1.3rem;
        &:hover {
            transform: scale(1.02);
            transition: 200ms;
            opacity: 0.9;
            @include darken-shadow;
        }
    }
}