@import "../utils.scss";

header {
    position: relative;
    text-align: center;
    @include card-shadow;
    padding: 1px 0px;
    & .logo {
        height: 2rem;
        margin-top: 1.3rem;
    }
}