@import "../utils.scss";

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: $grey;
    padding: 1rem; 
    margin-left: -1.3rem;
    & .fa-map-marker-alt {
        margin: 0px;
    }
    & .city {
        margin: 0px;
        font-weight: 500;
    }  
}