@import "../utils.scss";


.restaurants-box {
    background-color: $lightgrey;
    & h2 {
        margin-top: 2rem;
        padding: 4rem 0rem 0rem 1.5rem;
    }
    & .card-box {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1.5rem 6rem 1.5rem;
        gap: 1.5rem;
        box-sizing: border-box;
        @media (min-width: 769px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media (min-width: 1200px) {
            flex-wrap: nowrap;
        }
        & .new {
            position: relative;
        }
        & .new::before {
            content: "Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            font-weight: 500;
            padding: 0.5rem;
            border-radius: 0.125rem;
            background-color: $tertiary;
            color: darken($tertiary, 50%);
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem
        }
    }
    & .menu-card {
        color: inherit;
        text-decoration: none;
        height: 18rem;
        background-color: white;
        border-radius: 25px;
        @include card-shadow;
        @media (min-width: 769px) {
            width: 48%;
        }
        @media (min-width: 1200px) {
            width: 25%;
        }
    
        &:hover {
            transform: scale(1.01);
            transition-duration: 200ms;
        }
        & img {
            height: 70%;
            width: 100%;
            border-radius: 25px 25px 0px 0px;
            object-fit: cover;
        }
        & .card-description {
            position: relative;
            padding: 0.7rem;
            & h3 {
                margin: 0px;
                padding-bottom: 0.3rem;
            }
            & p {
                margin: 0px;
                font-size: 1.1rem;
            }
            & .fa-heart {
                position: absolute;
                font-size: 1.8rem;
                right: 1.5rem;
                top: 50%;
                transform: translateY(-50%);
            }
            & .fas {
                color: transparent;
                opacity: 0;    
                background-image: $gradient;
                background-clip: text;
                -webkit-background-clip: text;
                transition: all 200ms ease-in-out;
                &:hover {
                    opacity: 1;
                    transform: translateY(-50%) scale(1.15);
                }
            }        
        }
    }
}