@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,400&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
@-webkit-keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.5;
  -webkit-animation: disappear 200ms 3s forwards;
          animation: disappear 200ms 3s forwards;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.loader::after {
  content: "";
  -webkit-animation: spin 3s infinite linear;
          animation: spin 3s infinite linear;
  width: 100px;
  height: 100px;
  border: solid 5px #9356DC;
  border-top: transparent;
  border-left: transparent;
  border-radius: 50%;
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
  padding: 1px 0px;
}

header .logo {
  height: 2rem;
  margin-top: 1.3rem;
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  background-color: #eaeaea;
  padding: 1rem;
  margin-left: -1.3rem;
}

.localisation .fa-map-marker-alt {
  margin: 0px;
}

.localisation .city {
  margin: 0px;
  font-weight: 500;
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.explorer {
  text-align: center;
  background-color: whitesmoke;
  padding: 50px;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .explorer h2, .explorer p {
    max-width: 310px;
    margin: auto;
    padding-bottom: 0.5rem;
  }
}

.explorer p {
  opacity: 0.7;
}

.explorer button {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
  margin-top: 1.3rem;
}

.explorer button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 0.9;
  -webkit-box-shadow: 0rem 0.35rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 0.35rem 1rem rgba(0, 0, 0, 0.5);
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.functioning h2 {
  margin-top: 3rem;
  margin-left: 1.5rem;
}

.functioning ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 1.5rem;
  margin: 0px;
  gap: 1.5rem;
}

@media (max-width: 1000px) {
  .functioning ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.functioning li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  background-color: whitesmoke;
  padding: 1.3rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1rem;
  -webkit-box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
}

.functioning li .number {
  color: white;
  margin-left: -2.9rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356dc;
  padding: 1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.functioning li i.fas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  opacity: 0.5;
}

.functioning li .title {
  font-weight: bold;
  margin: 0px;
}

.functioning li:hover {
  cursor: pointer;
  background-color: #f2eafb;
}

.functioning li:hover .fas {
  color: #9356DC;
  opacity: 1;
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.restaurants-box {
  background-color: whitesmoke;
}

.restaurants-box h2 {
  margin-top: 2rem;
  padding: 4rem 0rem 0rem 1.5rem;
}

.restaurants-box .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 1.5rem 6rem 1.5rem;
  gap: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 769px) {
  .restaurants-box .card-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .restaurants-box .card-box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.restaurants-box .card-box .new {
  position: relative;
}

.restaurants-box .card-box .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.125rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

.restaurants-box .menu-card {
  color: inherit;
  text-decoration: none;
  height: 18rem;
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
}

@media (min-width: 769px) {
  .restaurants-box .menu-card {
    width: 48%;
  }
}

@media (min-width: 1200px) {
  .restaurants-box .menu-card {
    width: 25%;
  }
}

.restaurants-box .menu-card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.restaurants-box .menu-card img {
  height: 70%;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-box .menu-card .card-description {
  position: relative;
  padding: 0.7rem;
}

.restaurants-box .menu-card .card-description h3 {
  margin: 0px;
  padding-bottom: 0.3rem;
}

.restaurants-box .menu-card .card-description p {
  margin: 0px;
  font-size: 1.1rem;
}

.restaurants-box .menu-card .card-description .fa-heart {
  position: absolute;
  font-size: 1.8rem;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.restaurants-box .menu-card .card-description .fas {
  color: transparent;
  opacity: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.restaurants-box .menu-card .card-description .fas:hover {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.15);
          transform: translateY(-50%) scale(1.15);
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  color: white;
  background-color: #353535;
  padding: 2rem;
}

footer h5 {
  font-family: 'Shrikhand', cursive;
  margin: 0px;
  font-weight: 400;
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer .footer-list {
  list-style-type: none;
  margin: 0px;
  padding: 1rem 0rem 0rem 0rem;
}

footer .footer-list li {
  padding-bottom: 0.5rem;
}

footer .footer-list i {
  padding-right: 0.5rem;
  font-size: 0.8rem;
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  position: relative;
}

header .fa-arrow-left {
  position: absolute;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-size: 1.3rem;
  top: 1.5rem;
  left: 1.5rem;
}

header .fa-arrow-left:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero-image {
  width: 100%;
  position: relative;
  z-index: -1;
}

.hero-image img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  .hero-image img {
    height: 50vh;
  }
}

.banner {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -3rem;
  width: 100%;
  border-radius: 3rem 3rem 0rem 0rem;
  padding: 2rem 4rem 2rem 2rem;
  font-weight: 100;
  position: relative;
}

.banner .restaurant-name {
  margin: 0px;
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner .fa-heart {
  position: absolute;
  font-size: 1.5rem;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .fas {
  color: transparent;
  opacity: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.banner .fas:hover {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.15);
          transform: translateY(-50%) scale(1.15);
}

.menu-box {
  background-color: whitesmoke;
}

@media (min-width: 1024px) {
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu-box .starters, .menu-box .main-courses, .menu-box .desserts {
    width: 33%;
  }
}

.menu-box h3, .menu-box h4, .menu-box p {
  margin: 0;
}

.menu-box p {
  font-size: 0.9rem;
  opacity: 0.8;
  padding-top: 0.3rem;
}

.menu-box h3 {
  text-transform: uppercase;
  font-weight: 100;
  padding-left: 1.5rem;
  opacity: 0.7;
  position: relative;
}

.menu-box h3::after {
  position: absolute;
  content: "";
  height: 0.25rem;
  width: 2.9rem;
  background-color: #99E2D0;
  left: 1.5rem;
  bottom: -0.6rem;
}

.menu-box .meal-box {
  padding: 1.5rem 1rem 0.1rem 1rem;
}

.menu-box .meal-card {
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
}

.menu-box .meal-card:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu-box .meal-card:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu-box .meal-card:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu-box .meal-card:nth-child(4) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menu-box .meal-card .meal-description {
  padding: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
}

.menu-box .meal-card .meal-description h4, .menu-box .meal-card .meal-description p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-box .meal-card .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-box .meal-card .price {
  font-weight: bold;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu-box .meal-card .check {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  width: 4rem;
  margin-right: -4rem;
  -webkit-transition: margin-right 400ms;
  transition: margin-right 400ms;
}

.menu-box .meal-card .check .fa-check-circle {
  font-size: 1.5rem;
  color: white;
}

.menu-box .meal-card:hover .check {
  margin-right: 0;
  -webkit-transition: margin-right 400ms;
  transition: margin-right 400ms;
}

.menu-box .meal-card:hover .fa-check-circle {
  -webkit-animation: spincheck 0.5s ease-in-out;
          animation: spincheck 0.5s ease-in-out;
}

.order {
  background-color: whitesmoke;
  height: 20vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
}

.order .order-button {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
  padding: 1rem 3rem;
}

.order .order-button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 0.9;
  -webkit-box-shadow: 0rem 0.35rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 0.35rem 1rem rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */