@-webkit-keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes spincheck {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  position: relative;
}

header .fa-arrow-left {
  position: absolute;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-size: 1.3rem;
  top: 1.5rem;
  left: 1.5rem;
}

header .fa-arrow-left:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero-image {
  width: 100%;
  position: relative;
  z-index: -1;
}

.hero-image img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -3rem;
  width: 100%;
  border-radius: 3rem 3rem 0rem 0rem;
  padding: 2rem;
  font-weight: 100;
  position: relative;
}

.banner .restaurant-name {
  margin: 0px;
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner .fa-heart {
  position: absolute;
  font-size: 1.5rem;
  right: 3.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .fas {
  color: transparent;
  opacity: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.banner .fas:hover {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.15);
          transform: translateY(-50%) scale(1.15);
}

.menu-box {
  background-color: whitesmoke;
}

@media (min-width: 1024px) {
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu-box .starters, .menu-box .main-courses, .menu-box .desserts {
    width: 33%;
  }
}

.menu-box h3, .menu-box h4, .menu-box p {
  margin: 0;
}

.menu-box p {
  font-size: 0.9rem;
  opacity: 0.8;
  padding-top: 0.3rem;
}

.menu-box h3 {
  text-transform: uppercase;
  font-weight: 100;
  padding-left: 1.5rem;
  opacity: 0.7;
  position: relative;
}

.menu-box h3::after {
  position: absolute;
  content: "";
  height: 0.25rem;
  width: 2.9rem;
  background-color: #99E2D0;
  left: 1.5rem;
  bottom: -0.6rem;
}

.menu-box .meal-box {
  padding: 1.5rem 1rem 0.1rem 1rem;
}

.menu-box .meal-card {
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0.2rem 0.2rem 15px rgba(0, 0, 0, 0.15);
}

.menu-box .meal-card:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu-box .meal-card:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu-box .meal-card:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu-box .meal-card .meal-description {
  padding: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
}

.menu-box .meal-card .meal-description h4, .menu-box .meal-card .meal-description p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-box .meal-card .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-box .meal-card .price {
  font-weight: bold;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu-box .meal-card:hover .check {
  margin-right: 0;
  -webkit-transition: margin-right 400ms;
  transition: margin-right 400ms;
}

.menu-box .meal-card:hover .fa-check-circle {
  -webkit-animation: spincheck 0.5s ease-in-out;
          animation: spincheck 0.5s ease-in-out;
}

.order {
  background-color: whitesmoke;
  height: 15vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.order .order-button {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.35);
  padding: 1rem 3rem;
}

.order .order-button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 0.9;
  -webkit-box-shadow: 0rem 0.35rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 0.35rem 1rem rgba(0, 0, 0, 0.5);
}

.check {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  width: 4rem;
  margin-right: -4rem;
  -webkit-transition: margin-right 400ms;
  transition: margin-right 400ms;
}

.check .fa-check-circle {
  font-size: 1.5rem;
  color: white;
}
/*# sourceMappingURL=menu.css.map */